@import url(base.css);

input,
select,
textarea {
  width: 100%;
}

div {
  margin: 6px;
}

body {
  background-color: lavender;
  font-size: 18px;
}

article {
  background: rgb(226, 166, 208);
  border-radius: 30px;
  padding: 20px;
  box-shadow: 3px 3px 3px 3px rgb(214, 81, 148);
  margin: 30px;
  width: auto;
  max-width: 700px;
  font-size: 18px;
  font-family: Arial;
}

button {
  background-color: white;
  color: purple;
  display: flex;
  font-size: 16px;
  border-radius: 30px;
  border-color: purple;
  padding: 15px;
}

.buttonContainer {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;

}